.App {
  background-color: darkgray;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.form__input {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
}

.form__error {
  margin: 0.5rem 0;
  color: orangered;
}

.btn {
  margin: 1rem 0;
  padding: 0.5rem 0;
  background-color: darkseagreen;
}

.nav__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px;
}

.nav__buttons {
  font-size: 1rem;
}

.nav__btn {
  gap: 5px;
  padding: 20px;
}

.product__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 280px;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  gap: 10px;
}

.img__container {
  border: none;
}

.product__info {
  border: none;
}
