:root {
  
}

/* TABLE THINGS */

.table_admin {
  margin: auto;
  border-collapse: collapse;
  width: 98%;
}
.th_admin {
  background-color: rgba(43, 37, 25, 0.89);
  border: 1px solid #ffffff;
  padding: 8px;
  font-size: 22px;
  font-family:monospace;
  font-weight: 1;
}
.td_admin, .td_admin_id {
  background-color: rgba(97, 91, 36, 0.705);
  border: 1px solid #ffffff;
  padding: 8px;
  font-size: 22px;
}
.td_admin_button {
  font-size: 22px;
  background-color: rgba(97, 91, 36, 0.705);
  border: 1px solid #ffffff;
  width: 90px;
}


/* MEDIA QUERIES */

@media screen and (max-width:850px) {

  .container .head_modifying {
    width: 100%;
    justify-content:left;
  }
  .modify_card_container {
    align-items: center;
    justify-content: center;
  }
  .head_modifying .button_container_modifying {
    padding-right: 3px;
    margin-left: 20px;
  }

  .button_cancel_modifying {
    margin: 10px;
  }

  .head_modifying .button_delete_modifying {
    font-size: 15px;
    padding: 8px 8px;
  }

  .th_admin {
    display:none;
  }

  .tr_admin:nth-child(even) {
    background-color: rgb(102, 24, 0);
  }
  /* .td_admin_id {
    border: 2px solid rgba(136, 133, 133, 0.541);
    background-color: rgba(51, 47, 15, 0.822);
  } */

  .td_admin, .td_admin_id, .td_admin_button, .tbody_admin {
    display: block;
    width: 100%;
  }

  .tr_admin {
    margin-bottom: 15px;
  }

  .td_admin, .td_admin_id, .td_admin_button {
    position: relative;
  }

  /* .th_admin::after {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
  } */
}


/* DASHBOARD THINGS */

.button_container_dashboard {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.button_edit_dashboard {
  background-color: rgb(68, 67, 67);
  width: 65px;
  cursor: pointer;
  margin: 8px;
}

.button_create_dashboard {
  background-color: rgba(68, 1, 1, 0.447);
  border: 2px solid rgb(131, 70, 70);
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  left: 10%;
  width: 90px;
  height: 50px;
}

.filter_container_dashboard {
  display: flex;
  align-items: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.input_filter_dashboard {
  background-color: rgba(68, 1, 1, 0.447);
  width: 60%;
  padding: 13px 10px;
  border: 2px solid rgb(131, 70, 70);
  border-radius: 4px;
  font-size: 15px;
}

.head_dashboard {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.button_orderBy_dashboard {
  background-color: rgba(43, 37, 25, 0.89);
  border: none;
  padding: 8px;
  font-size: 22px;
  font-family:monospace;
  font-weight: 1;
}
.button_orderBy_dashboard:hover {
  cursor: pointer;
}


/* MODIFY PRODUCT THINGS */

.head_modifying {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_container_modifying {
  padding-right: 20px;
}

.input_modifying {
  width: 100%;
  border: 0.5px solid #ffffff;
  padding: 12px 20px;
  font-size: 16px;
  background-color: rgb(68, 67, 67);
  flex: 1;
  margin: 5px 0;
  border-radius: 4px;
}

.button_save_modifying {
  background-color: rgb(68, 67, 67);
  margin-left: 10px;
  width: 65px;
  height: 25px;
  cursor: pointer;
}

.button_cancel_modifying {
  background-color: rgb(68, 67, 67);
  margin-left: 10px;
  width: 65px;
  height: 25px;
  cursor: pointer;
}

.button_delete_modifying {
  background-color: rgba(68, 1, 1, 0.447);
  border: 1px solid rgb(131, 70, 70);
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  padding: 13px 13px;
}

.button_create_dashboard:hover, .button_delete_modifying:hover, 
.button_cancel_modifying:hover, .button_save_modifying:hover,
.button_edit_dashboard:hover {
  background-color: rgba(255, 166, 0, 0.379);
}

