
.table_product {
  border-collapse: collapse;
  width: 98%;
}
.th_product {
  background-color: rgba(43, 37, 25, 0.89);
  border: 1px solid #ffffff;
  padding: 8px;
  font-size: 22px;
  font-family:monospace;
  font-weight: 1;
}
.td_product, .td_product_id {
  background-color: rgba(97, 91, 36, 0.705);
  border: 1px solid #ffffff;
  padding: 8px;
  font-size: 22px;
}
.td_product_button {
  font-size: 22px;
  background-color: rgba(97, 91, 36, 0.705);
  border: 1px solid #ffffff;
}

@media screen and (max-width:850px) {

  .th_product {
    display:none;
  }

  .tr_product:nth-child(even) {
    background-color: rgb(102, 24, 0);
  }
  /* .td_product_id {
    border: 2px solid rgba(136, 133, 133, 0.541);
    background-color: rgba(51, 47, 15, 0.822);
  } */

  .table_product, .td_product, .td_product_id, .td_product_button, .tbody_product {
    display: block;
    width: 100%;
  }

  .tr_product {
    margin-bottom: 15px;
  }

  .td_product, .td_product_id, .td_product_button {
    position: relative;
  }

  /* .th_product::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
  } */

}

.input_modify_product {
  width: 100%;
  border: 0.5px solid #ffffff;
  padding: 12px 20px;
  font-size: 16px;
  background-color: rgb(68, 67, 67);
  flex: 1;
  margin: 5px 0;
  border-radius: 4px;
}

.modify_product_button {
  background-color: rgb(68, 67, 67);
  width: 65px;
  cursor: pointer;
  margin: 8px;
}

.save_product_button {
  background-color: rgb(68, 67, 67);
  margin-left: 10px;
  width: 65px;
  height: 25px;
  cursor: pointer;
}

.cancel_product_button {
  background-color: rgb(68, 67, 67);
  margin-left: 10px;
  width: 65px;
  height: 25px;
  cursor: pointer;
}

.top_modify_product {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modify_button_container {
  padding-right: 20px;
}

.delete_product_button {
  background-color: rgba(68, 1, 1, 0.447);
  border: 1px solid rgb(131, 70, 70);
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  padding: 13px 13px;
}

.create_product_button:hover, .delete_product_button:hover, 
.cancel_product_button:hover, .save_product_button:hover,
.modify_product_button:hover {
  background-color: rgba(255, 166, 0, 0.379);
}

.create_product_button {
  background-color: rgba(68, 1, 1, 0.447);
  border: 2px solid rgb(131, 70, 70);
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  left: 10%;
  width: 90px;
  height: 50px;
  margin-left: 30px;
  margin-right: 70px;
}

.filter_input {
  background-color: rgba(68, 1, 1, 0.447);
  width: 60%;
  padding: 13px 10px;
  border: 2px solid rgb(131, 70, 70);
  border-radius: 4px;
  font-size: 15px;
}

.top_product_dashboard {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.button_container {
  display: flex;
  align-items: center;
}
.filter_container {
  display: flex;
  align-items: center;
  width: 60%;
}
  
.order_modify_button {
  background-color: rgba(43, 37, 25, 0.89);
  border: none;
  padding: 8px;
  font-size: 22px;
  font-family:monospace;
  font-weight: 1;
}
.order_modify_button:hover {
  cursor: pointer;
}